.home {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
    height: 100%;
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%
}
.track {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 50%;
    .tracks {
        display: flex;
        flex-direction: column;
        width: 100%;
.track__item {

    border: 1px solid silver;
    width: 38%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 21px;
    &:hover{
        background: red;
    }
}
}
.home__input {
    line-height: 1.6rem;
    border: 1px solid red;
    padding-left: 5px;
}
.home__form {
    display: flex;
    flex-direction: column;
    label {
        display: inline-block;
        width: 100px;
        text-align: left;
    }
    button {
        width: 90px;
    }
}
.get-track {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
}
}