.login {
    display: flex;
    width: 100%;
    flex-direction: column;
    // flex-grow: 1;
    height: 100%;
    align-items: center;
    // justify-content: center;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100% );
    &__title {
        margin-top: 70px;
        color: white;
        margin-bottom: 20px;
    }
}
